body {
    font-size: 13px; font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none !important;

    &:hover {
        color: #c00 !important;
    }
}

.grey {
    color: #999 !important;
}
